.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 70%;
    margin: 16px auto;
}

.list img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
}
.p0{
margin: 0;
padding: 0;
}
.row.data {
    border-width: 0 0 1.3px 0;
    border-style: solid;
    border-color: #756f6f;
    margin: 27px 0;
    padding-bottom: 5px;

}
.m10{
    margin: 10px;
}
p.subs.m10 span {
    color: #c18414;
}
.right{
    text-align: right;
}
p.name.p0 {
    font-weight: 600;
}
p.disc.p0 {
    font-size: 12px;
}
.cursor{
    cursor: pointer;
}