<div class="main">
  <div class="model">
    <img src="../../assets/img/face.jpeg" alt="">
    <p class="name">Brij Singh</p>
    <div class="left">
        <p><i class="fa fa-envelope"></i>contactme@anywhere.com</p>

        <p><i class="fa fa-phone-square"></i>
          12345698755</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
          muchipara, durgapur,near iti
    
        </p>
    
        <h4 class="member">Gold membership</h4>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>
          27th january 2019 <span>(start date)</span> </p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>
          27th january 2020<span>(end date)</span> </p>
    </div>


  </div>
  <p class="reg"> this user has registerd on 27th december 2018</p>

</div>